@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Ubuntu:ital,wght@0,500;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
 a{
    text-decoration: none;
} 
  
body{
    font-family: 'Montserrat', sans-serif;
    /* background-color: var(--secondary-color); */
    min-width: 100vh;
}
:root{
    --primary-color: #0d9488;
    --secondary-color: #2dd4bf;
}
.container{
    margin: 4rem auto 7rem;
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 50%; */
}
.heading{
    color: var(--primary-color);
}
.description {
    font-size: larger;
    margin: 1rem;
}
label{
    display: block;
     font-size: large;
    font-weight: 600;
    margin: auto; 
}
input{
    font-size: 14px;
    outline: white;
    padding: 0.6rem 1rem;
    /* margin: 1rem; */
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 250px;
    display:  block;
    margin: auto;
    margin-top: 1rem;
}
#check {
    background-color: var(--primary-color);
     border: none;
     color: white;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: white;
    margin: auto;
    display: block;
    margin-top: 1rem;  
  }
  #error-message{
    display: block;
    font-size: larger;
    margin: 1rem 0 0;
  }

table {
    /* border: 1px solid black; */
    /* border-collapse: collapse; */
    /* border-spacing: 0px; */
    /* padding: 0.5rem 1rem */
    /* border-style: groove; */
    width: 50%;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
    
}
table ,caption{
    margin: 1rem auto;
  font-size: x-large;
  font-weight: 500;
}
th,td{
    border: 2px solid var(--primary-color);
    width: 0%;
    border-collapse: collapse;
    padding: 0.5rem;
}
th{
    background-color: var(--secondary-color);
}